service: swim-crowd-lambda-go
plugins:
  - serverless-offline
frameworkVersion: '3'

provider:
  name: aws
  runtime: go1.x
  region: ap-southeast-1
  environment:
    MONGO_USER: ${ssm:/lambda/ahorro/prod/MONGO_USER}
    MONGO_PASSWORD: ${ssm:/lambda/ahorro/prod/MONGO_PASSWORD}
    MONGO_PATH: ${ssm:/lambda/swimpool/prod/MONGO_PATH}
    TZ: Asia/Taipei

package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  dailyfetch:
    handler: bin/dailyfetch
    events:
      - httpApi:
          path: /crowd/daily
          method: get
  crowdscraper:
    handler: bin/crowdscraper
    events:
      - schedule: cron(0,30 0-13,23 * * ? *)
  fetchentries:
    handler: bin/fetchentries
    events:
      - httpApi:
          path: /ahorro/entry
          method: get